.desktopNavigation {
  background: transparent;
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.navContainer {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  padding: 0.75rem 0;
  position: relative;
  width: 100%;
}

@media (width >= 1024px) {
  .desktopNavigation {
    display: block;
  }
}
