.App {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

/* Основной контент с отступом для fixed Header */
.mainContent {
  display: block;
  margin: 0.2rem;
  z-index: 30;
}

/* Footer без отступа сверху */
.App > footer {
  flex-shrink: 0;
}

/* @media (width <= 768px) {
  .mainContent {
    margin-top: 100px;
  }
} */
