.logo {
  height: 5rem;
  max-width: 350px;
}

.color1 {
  fill: #057f36;
}

.color2 {
  fill: #1987c9;
}

.color3 {
  fill: #fab71d;
}

.color4 {
  fill: #2d2d2d;
}

.color5 {
  fill: #d90652;
}

@media (width <= 1023px) {
  .logo {
    transform: scale(0.67);
    transform-origin: left center;
  }
}
