/* .background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-image 0.3s ease-in-out;
  width: 100%;
  z-index: 0;
} */

.background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  inset: 0;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 0;
}

.background::before {
  background: rgb(255 255 255 / 0%);
  content: '';
  inset: 0;
  pointer-events: none;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

/* Светлая тема - осветляем темную картинку */
.background[data-theme='light'] {
  filter: brightness(1.8) contrast(0.8) saturate(0.7);
}

.background[data-theme='light']::before {
  background: rgb(255 255 255 / 30%);
}

/* Тёмная тема - оригинальная картинка */
.background[data-theme='dark'] {
  filter: none;
}
